{% extends 'base.html' %}
{% block title %}
    Encriptar
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="menu-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Encriptar imagen</h1>
            <p class="lead">Clave pública: {{ public_key }}</p>
            <p class="lead">Clave privada: {{ private_key }}</p>
            <div>
                <p class="lead"><a href="{{ url_for('keys') }}"> ¿Quiere cambiar las claves?</a></p>
            </div>
            <form method=post enctype=multipart/form-data>
                <label class="label-form" for="image">Seleccione la imagen:</label> <input class="form-control" type=file id="image" name=file>
                <div class="botones row row-col-2">
                    <div class="col"><input class="btn btn-form btn-lg btn-light fw-bold btn-margin" type=submit value=Encriptar></div>
                    <div class="col"><p class="lead"><a class="btn btn-form btn-lg btn-light fw-bold btn-margin" href="{{ url_for('menu') }}">Menu</a></p></div>
                </div>
            </form>
        </main>
    </div>

{% endblock %}