<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    {% block title %}
    <title>Sistema de encriptación caóticos</title>
    {% endblock %} 
    {% endblock %}

    <script>
        function showHideKey() {
            const status = document.getElementById("keys");
            if(status.value === "si"){
                document.getElementById('NoTiene_keys').style.display='none';
            } else {
                document.getElementById('NoTiene_keys').style.display='block';
            }
        }
    </script>

</head>
<body>
    <div id="content">
    <h1>
        Encriptar o desencriptar imagen
    </h1>
        {% block content %}
        <p>Seleccione la opión que desee:</p>

        <form method=post enctype=multipart/form-data>
            <div>
                <label for="Encriptar"></label><input type="radio" name="opcion" id="Encriptar" value="Encriptar" checked> Encriptar <br>
                <label for="Desencriptar"></label><input type="radio" name="opcion" id="Desencriptar" value="Desencriptar">Desencriptar <br><br>
            </div>
            <div>
                <label for="image">Seleccione la imagen:</label> <input type=file id="image" name=file><br><br>
            </div>

            <div>
                <label for="keys">Posee la clave pública y privada </label><select id="keys" name="keys" onchange="showHideKey()">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                <br><br>
           </div>

            <div id="NoTiene_keys" style="display: none">
                <fieldset>
                    <p>Generación de claves:</p>
                    <ul>
                        <li>Clave pública: {{ public_key }}</li>
                        <li>Clave privada: {{ private_key }}</li>
                    </ul>
                </fieldset>
            </div>

            <fieldset id="Tiene_keys" style="display: block">
                <label for="public_key">Introduzca la clave pública: </label><input type="text" id="public_key" name="public">
                <br><br>
                <label for="private_key">Introduzca la clave privada: </label><input type="text" id="private_key" name="private">
            </fieldset>


            <br>
            <input type=submit value=Upload>
        </form>
        {% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2021 by <a href="">Jesus & Ventura</a>.
        {% endblock %}
    </div>
</body>
</html>