<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    {% block title %}
    <title>Sistema de encriptación caóticos</title>
    {% endblock %} 
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
        <form>
            <label for="image">Seleccione la imagen que desea encriptar:</label>
            <input type="file" id="image" name="image">
            <input type="submit" value="Encriptar">
        </form>
        {% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2021 by <a href="">Jesus & Ventura</a>.
        {% endblock %}
    </div>
</body>
</html>