<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    {% block title %}
    <title>Sistema de encriptación caóticos</title>
    {% endblock %} 
    {% endblock %}
</head>
<body>
    <div id="content">
    <h1>
        Encriptar o desencriptar imagen
    </h1>
        {% block content %}
        <p>Seleccione la opión que desee:</p>

        <form method=post enctype=multipart/form-data>
            <input type="radio" name="opcion" id="Encriptar" value="Encriptar" checked> Encriptar <br>
            <input type="radio" name="opcion" id="Desencriptar" value="Desencriptar"> Desencriptar <br>
            <label for="image">Seleccione la imagen:</label> <br>
            <input type=file id="image" name=file>
            <input type=submit value=Upload>
        </form>
        {% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2021 by <a href="">Jesus & Ventura</a>.
        {% endblock %}
    </div>
</body>
</html>