{% extends 'base.html' %}

{% block title %}
    Keys
{% endblock %}

{% block scripts %}
    <script>
        function showHideKey() {
            const status = document.getElementById("keys");
            if(status.value === "si"){
                document.getElementById('genera_keys').style.display='none';
            } else {
                document.getElementById('genera_keys').style.display='block';
            }
        }
    </script>
{% endblock %}

{% block content %}

<div class="menu-container container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>Introduzca las claves</h1>
            <label class="form-label" for="keys">Posee la clave pública y privada </label><select class="form-select" id="keys" name="keys" onchange="showHideKey()" aria-label="Default select example">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>

            <div class="container" id="genera_keys" style="display: none">
                    <p class="lead">Generación de claves:</p>
                    <p class="lead">Clave pública: {{ public_key }}</p>
                    <p class="lead">Clave privada: {{ private_key }}</p>
            </div>


        <form  method=post enctype=multipart/form-data style="display: block">
            <label for="public_key" class="label-form">Clave pública:</label>
            <input class="form-control" type="text" id="public_key" name="public">
            <label for="private_key" class="label-form">Clave privada:</label>
            <input class="form-control" type="text" id="private_key" name="private">
            <div class="botones row row-col-2">
                <div class="col"><p><input class="btn btn-form btn-lg btn-light fw-bold btn-margin" type=submit value=Guardar></div> 
                <div class="col"><a class="btn btn-form btn-lg btn-light fw-bold btn-margin" href="{{ url_for('menu') }}">Menu</a></div>
            </div>
        </form>
    </main>
</div>


{% endblock %}
